@import url(../vendor/normalize.css);
@keyframes pulsate{
0% {
    opacity: 0;
}
50% {
    opacity: 0.6;
}
100% {
    transform: scale(1.2);
}
}

.page {
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: 'Inter', Arial, sans-serif, 'Noto Serif', 'Times New Roman', serif;
font-size: 16px;
line-height: 20px;
}

.header {
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    background: #FFFFFF url('../images/background_header.svg') no-repeat center/cover;
    position: relative;
    z-index: 1;
}

.header__span-accent{
   color:#2F80ED;
   font-style: italic;
   display: block;
   font-family: 'Noto Serif', 'Times New Roman', serif;
   font-weight: normal;
   font-size: 60px;
   line-height: 72px;
}
    

.header__title {
    margin-left: 80px;
    margin-top: 202px;
    margin-bottom: 28px;
    max-width: 729px;
    font-size: 60px;
    line-height: 72px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
}
.header__paragraphs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#6f6f6f
}

.header__paragraph {
margin: 0px;
   
}
.header__description {
    max-width: 683px;
    margin-left: 80px;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    max-width: 646px;
    max-height: 568px;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    bottom: 0px;
    padding-top: 124px;
    margin: 0px;
}

.logo {
    position: absolute;
    max-width: 125px;
    max-height: 142px;
    left: 30px;
    top: 30px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav__links {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-top: 30px;
    padding-right: 80px;
    list-style: none;
    margin: 0px
}

.nav__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}

.nav__link:hover {
    color:#2F80ED;
}

.menu {
    background: #0a2750 url(../images/background_menu.svg) no-repeat center/cover;
    padding: 100px 100px 45px;
}

.menu__title {
    text-align: center;
    margin: 0 0 24px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #ffffff
}

.menu__subtitle {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    max-width: 780px;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}

.menu__cards {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 40px;
    padding-left: 0;
}

.card {
/* display: flex; */
width: calc(50% - 20px);
max-width: 600px;
padding-top: 32px
}

.card__title {
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
color: #ffffff;
}

.card__list {
    list-style: none;
    padding:0;
}

.card__list-item {
font-family: 'Noto Serif', 'Times New Roman', serif;
font-style: normal; 
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #ffffff;
display: flex;
margin-bottom: 16px;
}

.card__divider {
    border-bottom: 1px solid #ffffff;
    flex-grow: 1;
}

.recipes {
background: #FFFFFF url(../images/background_recipes.svg) no-repeat center/cover;
padding-bottom: 215px;
}

.recipes__title {
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
max-width: 580px;
padding-top: 100px;
padding-left: 80px;
padding-bottom: 24px;
margin: 0px
}

.recipes__subtitle {
font-family: 'Noto Serif', 'Times New Roman', serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
max-width: 438px;
padding-left: 80px;
padding-bottom: 80px;
margin: 0;
}

.recipes__videos{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}

.recipes__iframe {
   width: 480px;
   height: 273px;
}

.recipes__video-caption {
    margin-top: 24px;
    margin-bottom: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}

.recipes__video-captions {
display: flex;
justify-content: space-between;
}

.reservation {
background: #D9E7FF url(../images/background_reservation.svg) no-repeat center/cover;
padding-bottom: 120px;
}

.reservation__title {
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
margin: 0px;
padding-top: 100px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.reservation__form {
    max-width: 384px;
    margin: auto;
}

.form {
    
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.form__label {
display: flex;
flex-direction: column;
padding-bottom: 32px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.form__input {
 border-radius: 4px;
max-width: 384px;
height: 60px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #838383;
margin-top: 8px;
}

.form__button{
border-radius: 4px;
background-color: #2F80ED;
color: #ffffff;
height: 60px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.form__button:hover {
    opacity: 70%;
}

.form__checkbox {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.form__label_type_checkbox {
flex-direction: row;
 margin: 0 auto;
padding-top: 32px;
padding-bottom: 0px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

}

.about {
    background-color: #0a2750;
    position: relative;
    overflow: hidden;
    padding-top: 119px;
    padding-bottom: 173px;
    padding-right: 80px;
    justify-content: end;
    display: flex;
}

.about__title {
max-width: 251px;
top: 100px;
left: 80px;
margin: 0px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
color: #ffffff;
z-index: 1;
position: absolute;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 660px;
    z-index: 1;
}

.about__paragraph {
font-family: 'Noto Serif', 'Times New Roman', serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #ffffff;
margin: 0;
z-index: 1;
}

.about__circle {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: -129px;
    top: -152px;
}

.about__circle_animation_blurred {
    animation: pulsate 1.3s ease-in-out 0s infinite;
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: -129px;
    top: -152px;
}

.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 116px;
    height: 21px;
    padding-top: 60px;
    padding-left: 80px;
}

.footer__social{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-right: 100px;
}

.footer__social-heading {
 margin: 0;
padding-bottom: 20px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #ffffff;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list-item {
margin: 0;
padding-left: 0;
padding-bottom: 16px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}

.footer__social-link {
    text-decoration: none;
    color: #ffffff;
}

.footer__social-link:hover {
    color:#C1C1C1
}

.footer__social-icon{
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding-top: 108px;
    padding-bottom: 60px;
    padding-left: 80px;
    margin: 0;
    }

